<div class="container" id="home">
  <div class="home">
    <%= image_tag 'logo_main', id:"main_logo" %>
    <div class="home-buttons">
      <%= link_to cocktails_path do %>
        <button class="btn" type="button">Browse cocktails</button>
      <% end %>     
    </div>
    <!-- TODO: Add a search form with select2 -->
    <br><br>
    <h2>Search one of our cocktails:</h2>
    <br>
    <%= form_tag(cocktails_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag ("Search"), class: 'btn' %>
    <% end %>
  </div>
</div>