<h1><%= @cocktail.name %></h1>
<ul class="list-inline">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-inline-item">
      <%= Ingredient.find(dose.ingredient_id).name %>: <%= dose.description %> | <%= link_to 'Remove', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to the Bar', cocktails_path, {class: 'btn'} %> | <%= link_to 'Add a new Ingredient', new_cocktail_dose_path(@cocktail), {class: 'btn'} %>