<div class="cocktails-wrapper" id="show-wrapper">
  <div class="show-container">
    <div class="show-column" >
      <%= cl_image_tag @cocktail.photo.key, height: 450, width: 350, crop: :fill, class: 'cocktail-image' %>
      <%= link_to 'Back to the Bar', cocktails_path, {class: 'btn', id: 'btn-to-index'} %>
    </div>
    <div class="show-column" style="width: 90%;">
      <div class="cocktail-name">
        <h1>
          <%= @cocktail.name %>
          <% if @cocktail.favorite?(current_user) %>
            <i class="fas fa-heart" id="favorite-icon-added"></i>
          <% else %>
            <%= link_to cocktail_favorites_path(@cocktail), method: :post do %>  
              <i class="far fa-heart" id="favorite-icon-add"></i>  
            <% end %>
          <% end %>
        </h1>
      </div>
      <div class="show-grid" id="cocktail-details">
        <div class="cocktail-ingredients">
            <h3>Ingredients</h3>
            <% @cocktail.doses.each do |dose| %>
              <div class="ingredient-info">
                <%= Ingredient.find(dose.ingredient_id).name %>: <%= dose.description %>
              </div>
            <% end %>        
        </div>
        <div class="cocktail-recipe">
          <h3>Recipe</h3>
          <p><%= @cocktail.recipe %></p>
        </div>
      </div>
      <div class="show-grid" id="cocktail-reviews">
        <div class="review-display">
          <h3>Reviews</h3>
          <div class="scroll-reviews">
            <% @cocktail.reviews.each do |review| %>
              <div class="review">
                <p class="star-rating" data-rating="<%= review.rating %>"></p>
                <p><%= review.content %></p>
                <p id="name"><i><%= review.user.full_name %></i></p>
              </div>
            <% end %>             
          </div>
        </div>
        <div class="review-form">
          <h3>Add a Review</h3>
          <%= simple_form_for [@cocktail, @review] do |f| %>
            <%= f.input :rating, label: false, collection: 1..5, prompt: 'Your rating...' %>
            <%= f.input :content, label: false, placeholder: 'Comments...' %>
            <%= f.submit "Review this Cocktail", class: 'btn', id: 'btn-form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>
